:root{
--mail-color: #434455;
--background: #FFFFFF;
--background-bt: #4D5AE5;
}

body {
    color: var(--mail-color);
    background-color: var(--background);
    font-family: Roboto, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6
 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

/* common */


.container {

  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
  
}

@media screen and (min-width: 768px) {
    .container {
  min-width: 768px;
 
}

}

@media screen and (min-width: 1158px) {
    .container {
  width: 1158px;
  padding: 0 15px;
 
}

}

/* header */

.header {

   border-bottom: 1px solid #e7e9fc;
   box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08); }

   .header-container {
    
    display: flex;
   align-items: center;
   justify-content: space-between;
}

.header-list-list,
    address
{
    display: none;
}

.header-logo-link {
    color: #4d5ae5;
font-family: Raleway, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none; 
display: block;
padding: 16px 0;
}

.header-logo-span {
    color:#2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
  display: none;
 
}
.header-list-list {
    display: flex;
  gap: 40px;
}

.header-nav {
     display: flex;
   align-items: center;
  
}
.header-logo-link {
    padding: 24px 0;
    margin-right: 120px;
    
}
.header-menu-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.header-menu-link.current {
  position: relative;
}
.header-menu-link.current::after {
  content: '';
  
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  
}

.header-menu-link:focus,
.header-menu-link:hover,
.header-menu-link.current {
    color:#404bbf 
}
.address {
    display: block;
  gap: 40px;
    font-style: normal;
}
.address-list {
    display: flex;
  gap: 12px;
  flex-direction: column;
    
}
.adress-link {
    font-size: 12px;
font-weight: 400;
line-height: 1.17; 
letter-spacing: 0.04em;
color: var(--mail-color);
list-style: none;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
}
.adress-link:hover,
.adress-link:focus
 {
    color: #404bbf;
}
}


@media screen and (min-width: 1158px) {
  .header-logo-link {
    padding: 24px 0;
    margin-right: 76px;
 
}
.address-list {
  flex-direction: row;
  align-items: center;
  gap: 40px;
    
}

.adress-link {
    font-size: 16px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
color: var(--mail-color);


}
}

/* <!-- mobie menu --!> */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}


.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}
 .mobile-menu-nav {
  margin-bottom: auto;
 }


@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc; 
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0; 
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  display: flex;
  align-items: center; 
  justify-content: center;
}

.mobile-menu-close:focus,
.mobile-menu-close:hover {
  background-color: #404bbf;
  border: none; 
  fill: #ffffff;
}
.mobile-menu-close:hover .mobile-modal-svg,
.mobile-menu-close:focus .mobile-modal-svg{
fill:#fff;
}

.mobile-modal-svg {
  fill:  #2e2f42;
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

 .mobile-modal-svg {
  fill: #ffffff; 
 }
 .mobile-modal-svg {
  fill: #ffffff; 
}


.nav-link-mobile {
 font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
color: #2e2f42;
  font-family: "Roboto", sans-serif;   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.nav-link-mobile.current {
  position: relative;
}

.nav-link-mobile:focus,
.nav-link-mobile:hover,
.nav-link-mobile.current {
    color:#404bbf 
}

.address-mobile-li {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #4d5ae5;
}
.address-mobile {
  display: block;         
  font-style: normal;     
  margin-top: 40px;   
}

.solial-svg-mobile {
 display: flex;          
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4D5AE5;
  border-radius: 50%;
}
.solial-svg-mobile:focus,
.solial-svg-mobile:hover {
  background-color: #404BBF;
  
}

.list-svg-mobile {
 
height: 40px;
width: 40px;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.social-mobile-img {
fill:#f4f4fd;          
  width: 16px;
  height: 16px;
}

.list-svg-mobile {
display: flex;
  gap: 40 px; 
  justify-content: center;
  
 
}

/* main */

/* .solutions */

.solutions {
    background-color: #2e2f42;
    
    padding: 52px 0 52px; 
 background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/officemob-min.jpg); 
  max-width: 320px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.container-solution {



}
.solutions-main {
 font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
margin-bottom: 72px;
text-align: center; 
 max-width: 216px;
 margin-right: auto;
 margin-left: auto;


}
.solutions-btn {
 font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
margin: 0 auto;
min-width: 169px;
border: none; 
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

display: block;

border-radius: 4px;
padding: 16px 32px;

height: 56px;

box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
}

.solutions-btn:hover{
    background-color: #404BBF;
}
.solutions-btn:focus{
    background-color: #404BBF;
  
}

@media screen and (min-resolution: 2x) {
.solutions {
  background-image: linear-gradient (rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/officemob2x.jpg);
}
}

@media screen and (min-width: 768px) {
    .solutions-main {
 
margin-bottom: 72px;
text-align: center; 
 max-width: 216px;
 margin-right: auto;
 margin-left: auto;


}
.solutions {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/officetab-min.jpg); 
}
@media screen and (min-resolution: 2x) {
.solutions {
  background-image: linear-gradient (rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/officetab2x.jpg);
}
}

}



@media screen and (min-width: 1158px) {
 .solutions {
    background-color: #2e2f42;
    
    padding: 188px 0 188px; 
 background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office.jpeg); 
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.container-solution {



}
.solutions-main {
 color: #ffffff ;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
margin-bottom: 48px;
text-align: center; 
 max-width: 496px;
 margin-right: auto;
 margin-left: auto;


}



}


   /* <!-- benefits --> */

   .benefits {
    list-style: none;
    padding-top: 96px;
    padding-bottom: 96px;
  
}
.container-benefits {
}
.container {
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  margin: 0;
}
.benefits-list-li {
}

.benefits-title {
  font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.benifits-title-text {
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.icons {
  display: none;
}
.conteiner-icons {
  display: none;
}

@media  screen and (min-width: 768px) {
  .benefits {
    list-style: none;
    padding-top: 96px;
    padding-bottom: 96px;
  
}
.benefits-list {
  
  gap: 72px 24px;
}
.benefits-list-li {
}

.benefits-list-li{
    width: calc((100% - 72px) / 2);

}
}

@media  screen and (min-width: 1158px) {
  .conteiner-icons {

 border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
background-color: #f4f4fd;
margin-bottom: 8px;
display: flex;               
  justify-content: center;    
  align-items: center;  


}
.icons {
  display: flex;
}
.benefits-list {
    display: flex;
  gap: 24px;
}
.benefits-title {
    

  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
  line-height: 1.2;
  max-width: 264px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 8px;
}
.benifits-title-text {
   
font-style: normal;
font-weight: 400;
margin: 0;


}

.benefits-list-li{
    width: calc((100% - 72px) / 4);

}
}


/* team  */

.team {
    padding-top: 72px;
  padding-bottom: 72px;
  background-color: #f4f4fd;
}
.team-container {
    width: 228px;
   
}
.team-main {
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;

margin-bottom: 72px;

}
.team-list {
    display: flex;
  flex-wrap: wrap;  
  row-gap: 72px;
  justify-content: center; 

  
}
.team-number {
    border: 1px solid #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  gap: 72px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);


}
.team-foto {
   
}
 .team-name-container {
 padding: 28px 0;
 
 /* display: flex ; */
 text-align: center;

 
 
    }
.team-names {
 font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2e2f42 ;
background-color: #FFFFFF;
margin-bottom: 8px; 
margin-left: 0;
margin-right: 0;

}
.team-title {
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455;
background-color: #FFFFFF;
margin: 0;
margin-bottom: 8px;

}

.team-number {
  width: 100%;
}

.solial-svg {
 display: flex;          
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4D5AE5;
  border-radius: 50%;
}
.solial-svg:focus,
.solial-svg:hover {
  background-color: #404BBF;
  
}

.list-svg-li {
 
height: 40px;
width: 40px;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.social-svg-img {
fill:#f4f4fd;          
  width: 16px;
  height: 16px;
}

.list-svg {
display: flex;
  gap: 24px; 
  justify-content: center;
  
 
}

@media screen and (min-width: 768px) {
  .team {
    padding-top: 96px;
  padding-bottom: 96px;
  background-color: #f4f4fd;
}
.team-container {
    width: 736px;
   
}
.team-main {
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;

margin-bottom: 72px;

}
.team-list {
    display: flex;
  flex-wrap: wrap;  
  row-gap: 72px;
  column-gap: 24;
  justify-content: center; 

  
}
.team-number {
      width: calc((100% - 24px) / 2);
  gap: 24px;
}



 .team-name-container {
 padding: 16px 0;
 
 /* display: flex ; */
 text-align: center;

}

}

@media screen and (min-width: 1158px) {
  .team {
    padding-top: 120px;
  padding-bottom: 120px;
  
}

.team-container {
    width: 1158px;
   
}
.team-list {
 
column-gap: 19px;
  row-gap: 30px;
  gap: 24px;


  
}
.team-number {
      width: calc((100% - 3 * 24px) / 4);
  gap: 24px;


}


 .team-name-container {
 padding: 32px 0;
  }

}